:root {
	/* Universal Variables*/
	--color-black: #111111;
	--color-dark-gray: #222222;
	--color-gray: #404040;
	--color-light-gray: #5d5d5d;
	--color-white: #C8C8C8;
	--color-creamy-ocean: #4987b3;

	/* Nav Menu Variables */
	--nav-desktop-size: 110px;
	--nav-mobile-size: 80px;
	--color-font: var(--color-white);
}

/* =================================================== */
/* ================ BODY & CONTENT =================== */
/* =================================================== */
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	background: url(./mtb-skinny-log-tinted.jpg) no-repeat;
	background-size: cover;
	background-position: 50%;
}

body #page-content {
	width: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

body #page-content #page-content-body {
	position: relative;
	flex-grow: 1;
}


@media screen and (max-width: 700px) {
	body {
		flex-direction: column;
	}
	body #page-content {
		padding-bottom: 56px;
		height: calc(100% - var(--nav-mobile-size));
	}
}

/* =================================================== */
/* =============== NAVIGATION MENU =================== */
/* =================================================== */



/* =================================================== */
/* ================== PAGE TITLE ===================== */
/* =================================================== */
